/* START OF CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF CSS RESET */

html {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  font-family: monospace;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #123c4a;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

img {
  border-radius: 30%;
  max-width: 350px;
}

table,
tr,
td,
th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px 30px;
}
table,
img,
p {
  width: 100%;
  margin-bottom: 20px;
}
th {
  font-weight: bolder;
  font-size: larger;
}

form {
  margin-bottom: 30px;
}

button {
  background-color: #083039;
  color: white;
  border: 1px solid white;
  padding: 20px 40px;
  font-family: monospace;
  font-weight: 900;
  font-size: 2rem;
}

button:hover {
  background-color: white;
  color: #083039;
  border: 1px solid #083039;
  font-family: monospace;
}

.minibutton {
  padding: 0px 20px;
  margin: 5px;
}

input {
  background-color: white;
  color: 083039;
  border: 1px solid white;
  padding: 20px 40px;
  font-family: monospace;
  font-size: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  width: 45%;
}

#movieImg {
  height: 300px;
  width: 300px;
}

#mapNweather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#headline,
h1 {
  font-size: 200%;
  margin: 20px 0px;
}

h2 {
  font-size: 150%;
  margin: 10px 0px;
}

#bgimg {
  background-image: url("./img/map.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  background-position: center;
  text-align: center;
  display: flex;
  color: white;
  font-family: monospace;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#contentcontainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 50%;
  border-radius: 50px;
  justify-content: center;
  margin: 50px;
  background-color: rgba(8, 48, 57, 0.308);
  padding: 20px;
  align-items: center;
}

#root {
  justify-content: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

#bgcolor {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #003844bd;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#contentsubcontainer {
  flex-direction: column;
}
