html {
  background: url(./img/map.jpg);
  display: flex;
  max-width: 1500px;
  margin: 50px auto;
  color: white;
  font-family: monospace;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body,
#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

img {
  border-radius: 50%;
  max-width: 500px;
}

table,
tr,
td,
th {
  border: 1px solid white;
  border-collapse: collapse;
}
table,
img {
  width: 100%;
  margin: 20px;
  border: 1px solid #083039;
}
th {
  font-weight: bolder;
  font-size: larger;
}

button {
  background-color: #083039;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-family: monospace;
  font-weight: 900;
}

button:hover {
  background-color: white;
  color: #083039;
  border: 1px solid #083039;
  padding: 10px 20px;
  font-family: monospace;
}

input {
  background-color: white;
  color: 083039;
  border: 1px solid 083039;
  padding: 10px 20px;
  font-family: monospace;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movieImg {
  height: 300px;
  width: 300px;
}
